<nav>
    <div class="main-container"> 
        <div class="menuitems-logo">
             <ul>
                <li [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">HOME</li>
                <li [routerLink]="['fahrradverleih']" routerLinkActive="active">FAHRRADVERLEIH</li>
                <li [routerLink]="['service-leistungen']" routerLinkActive="active">SERVICE & LEISTUNGEN</li>
                <li style="height: 196px;width: 196px;" [routerLink]="['']" routerLinkActive="active"> <img src="assets/images/radprofis_logo.png" alt="radprofis_logo" [class.smallerLogo]="isScrolled"> </li>
                <li [routerLink]="['uber-uns']" routerLinkActive="active">ÜBER UNS</li>
                <li [routerLink]="['shop']" routerLinkActive="active">SHOP</li>
                <li [routerLink]="['termin-buchen']" routerLinkActive="active">TERMIN BUCHEN</li>
             </ul>

        </div>
        <div class="icons">
            <div class="cart">
                <img src="assets/icons/shopping_cart_icon.png" alt="cart" [routerLink]="['cart']" *ngIf="userName">
                <div class="quantity" *ngIf="userName">{{countArray?.length}}</div>
            </div>
            <img src="assets/icons/user.png" alt="user" routerLink="login" *ngIf="!userName">
 
             <div class="logout">
                <img src="assets/icons/user.png" alt="user" *ngIf="userName" (click)="activeLogout()">
                <div class="logoutmenu" [class.logoutActive]="isLogoutActive" (click)="logoutAccount()" *ngIf="userName">Logout</div>
             </div>
        </div>
    </div>
    <div class="user">
        <div class="welcome"  *ngIf="userName">Welcome !</div>
        <div class="name">
            {{userName}}
        </div>        
    </div>
  
</nav>

<div class="mobile-menu" [class.height-full]="isMenuOpen">
    <div class="content-section">
        <div class="top-section">
            <div class="burger-menu" (click)="toggleMenu()">
                <img src='{{isMenuOpen?"assets/icons/cross.png":"assets/icons/burger.png"}}' alt="burger">
            </div>
            <div class="logo" ><img src="assets/images/radprofis_logo.png" alt="logo" [class.smallerLogo]="isScrolled"  [routerLink]="['']" routerLinkActive="active"></div>
            <div class="cart"><img src="assets/icons/shopping_cart_icon.png" alt="cart"></div>
         
        </div>
        <div class="bottom-section" [class.is-open]="isMenuOpen">
            <ul>
                <li [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="closeMenu()">HOME</li>
                <li [routerLink]="['fahrradverleih']" routerLinkActive="active" (click)="closeMenu()">FAHRRADVERLEIH</li>
                <li [routerLink]="['service-leistungen']" routerLinkActive="active" (click)="closeMenu()">SERVICE & LEISTUNGEN</li>
                <li [routerLink]="['uber-uns']" routerLinkActive="active" (click)="closeMenu()">ÜBER UNS</li>
                <li [routerLink]="['shop']" routerLinkActive="active" (click)="closeMenu()"> SHOP</li>
                <!-- <div class="shop-section">
                    
                        <div class="sub-menu">E-Bikes</div>
                        <div class="sub-menu">Bikes</div>
                        <div class="sub-menu">Teile & Zubehör</div>
                    
                </div> -->
                <li [routerLink]="['termin-buchen']" routerLinkActive="active" (click)="closeMenu()">TERMIN BUCHEN</li>
            </ul>
            <div class="info-section">
                <div class="tel">Tel. 03361/32019</div>
                <div class="email">info&#64;radprofis-am-bahnhof.de</div>
            </div>
        </div>
      
    </div>

 </div>