<footer>
    <div class="main-container">
        <div class="section1"> 
            <img src="assets/images/radprofis_logo.png" alt="radprofis_logo">

             
                <ul>
                    <span>UNSERE MARKEN</span>
                    <li>BBF</li>
                    <li>Checker Pig</li>
                    <li>Columbus</li>
                    <li>Giant</li>
                    <li>Bottecchia</li>
                    <li>Kinderrader</li>
                    <li>Dahon</li>
                </ul>

                <ul>
                    <span>UNSER SERVICE</span>
                    <li>Gutscheine</li>
                    <li>Leasing & Finanzierung</li>
                    <li>Fahrradverleih</li>
                    <li>Fahrradfachwerkstatt</li>
                    <li>Online-Shop</li>
                </ul>

                <ul>
                    <span>KONTAKT</span>
                    <li>Radprofis Fürstenwalde<br/>
                        Am Bahnhof 1<br/>
                        15517 Fürstenwalde<br/>
                        Tel. 03361/32019<br/>
                        info&#64;radprofis-am-bahnhof.de
                        </li>
                    <li>Öffnungszeiten: <br/>
                        Montag–Freitag 9–18 Uhr <br/>
                        Samstag 9–12 Uhr <br/>
                    </li>
                </ul>
           
        </div>
        <div class="line">
            
        </div>
        <div class="section2">
            <div class="left">Copyright 2024 </div>
            <div class="right">
                <li>Impressum </li><li>|</li><li>Haftungsausschluss</li><li>|</li><li>Datenschutz</li>   
            </div>

        </div>
    </div>
</footer>