@import '../../styles/styles.scss';
.main-container{
    @include flex(row,center,center);
    padding-bottom: 140px;
    @include responsive(smartphone-portrait){
      padding-bottom: 50px;
    }
    .content-section{
      @include flex(row,space-between,center);
      @include responsive(smartphone-portrait){
        @include flex(column,space-between,center);
        flex-direction: column-reverse;
        gap: 44px;
        @include mobile-content-width;
        padding-top: 60px;
      }
      gap: 130px;
      @include content-width;
      img{
     height: 470px;
     width: 624px;
     object-fit: cover;
     @include responsive(smartphone-portrait){
      height: 242px;
      width: 322px;
     }
      }
      .description{
        @include flex(column,center,start);
        color: $footer-background;
          .headline{
            font-size: 45px;
            font-family: 'montserrat-bold';
            padding-bottom: 60px;
            @include responsive(smartphone-portrait){
              font-size: 25px;
            padding-top: 0%;
              text-align: center;
              padding-bottom: 10px;
            }
          }
          .inner-text{
            font-size: 15px;
            font-family: 'montserrat-regular';
            line-height: 25px;
          }
          div{
            padding-top: 30px;
            font-size: 15px;
            font-family: 'montserrat-regular';
        }
          .sub-text{
            font-family: 'montserrat-bold';
            padding-top: 50px;
            @include flex(row,center ,center);
            gap: 10px;
            @include responsive(smartphone-portrait){
              padding-top: 30px;
            }
            .link{
                font-size: 20px;
                font-family:'montserrat-bold';
                cursor: pointer;
                @include responsive(smartphone-portrait){
                  font-size: 15px;
                  padding-top: 0%;
                }
            }
            img{
                height: 23px;
                width: 23px;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                padding-top: 10%;
                @include responsive(smartphone-portrait){
                  padding-top: 0%;
                }
            }
            .link:hover + img{
                opacity: 1;
            }
          }
      }
    }
}