<div class="main-container">
    <div class="content-section">
        <div class="description">
            <div class="headline">UNSER LADENGESCHÄFT</div>
            <div class="inner-text">Auf fast 300 m² auf zwei Etagen finden Sie bei uns über 200 Modelle ständig ausgestellt: Sie suchen ein Stadtrad zum Einkaufen oder ein Trekkingrad für den nächsten Ausflug oder Ihr Kind braucht ein verkehrssicheres Rad für den Schulweg? Bei uns finden Sie, was Sie suchen.
              </div>
              <div>Außerdem: Finanzierung, Verleih u.v.m.</div>
            <div class="sub-text">
                <div class="link">ANFAHRT & ÜBER UNS</div>
                <img src="assets/icons/right-arrow.png" alt="arrow">
            </div>
        </div>
        <img src="assets/images/Checker-Pig-DKP-6491.jpg" alt="about">
    </div>
</div>