<div class="main-container">
    <div class="content-section">
        <div class="image-section">
            <img src="assets/images/main_slider/bike_slider1.png" alt="bike">
        </div>
        <div class="texts-section">
            <div class="container">
                <div class="smaller-headline">UNSER PREISKNALLER</div>
                <div class="bigger-headline">BRÜGGE 1.0</div>
                <ul>
                    <li>Rahmen: Carbon (46)</li>
                    <li>Gabel: Rock Shox Reba Team- pop lock</li>
                    <li>Laufräder: Alex Cervino Disc</li>
                    <li>Schaltung: Shimano XTR /XT Mix</li>
                    <li>Bremse: Formula ORO Puro</li>
                    <li>Gewicht: 10,3 kg</li>
                </ul>
                <div class="button-section">
                    <div class="link">ZUM ANGEBOT</div>
                    <img src="assets/icons/right-arrow.png" alt="arrow">
                </div>
  
            </div>

        </div>
    </div>
</div>
