@import '../../../styles/styles.scss';
.main-container{
    min-height: calc(100vh - 120px);
    padding-top: 120px;
    @include responsive(smartphone-portrait){
        padding-top: 80px;
    }
    .banner{
        height: 550px;
        background-color: $banner-background-color;
        font-family: 'montserrat-bold';
        font-size: 100px;
        color: $secondary-color;
        @include flex (column,center,center);
        @include responsive(smartphone-portrait){
            font-size: 30px;
            height: 220px;
        }
        .text1{
           padding-right: 15%;
        }
        .text2{
            padding-left: 7%;
         }
    }
    .sub-section{
        background-color: $page-background-color;
        @include flex(column,center,center);
        padding: 130px 0px;
        color: $text-color;
        @include responsive(smartphone-portrait){
            padding: 40px 0px; 
        
        }
     .main-image{
        display:none;
        @include responsive(smartphone-portrait){
            display: block;
            padding-bottom: 40px;
            img{
                height: 214px;
                @include mobile-content-width;
                object-fit: contain;
            }
        }
     }
        .headline{
            font-family: 'montserrat-bold';
            font-size: 45px;
            padding-bottom: 110px;
            @include responsive(smartphone-portrait){
                display: none;
            }
        }
        .services-section1{
            @include flex(row,space-between,center);
            flex-wrap: wrap;
            gap: 60px;
            padding-bottom: 100px;
            @include content-width;
            @include responsive(smartphone-portrait){
                @include mobile-content-width 
            }
            .service-items{
                @include flex(row,start,start); 
                @include responsive(smartphone-portrait){
                    width: 100%;
                }          
                .item{
                    @include flex(column,start,start);
                    gap: 20px;
                    width: 510px;
                    .service-headline{
                        font-size: 20px;
                        font-family: 'montserrat-bold';
                       }
                       .description{
                        font-size: 15px;
                        font-family: 'montserrat-regular' ;
                        line-height: 25px;
                       }
                }
          
            }
        }
        .services-section2{
            @include flex(row,center,center);
            padding: 130px 0px 100px 0px;
            background-color: $secondary-color;
            width: 100%;
            @include responsive(smartphone-portrait){
                padding: 60px 0px 60px 0px;
            }
            .content-width{
                @include content-width;
                @include flex(column,center,center);
                gap: 75px;
                @include responsive(smartphone-portrait){
                    gap: 60px;
                }
                .headline2{
                    font-family: 'montserrat-bold';
                    font-size: 45px;
                    padding-bottom: calc(110px - 75px);
                    @include responsive(smartphone-portrait){
                        font-size: 25px;
                        padding-bottom: 0px
                    }
                }
                .logos{
                  @include flex(row,space-between,center);
                  width: 100%;
                  @include responsive(smartphone-portrait){
                    @include flex(column,center,center);
                    gap: 30px;
                  }
                  img{
                        height: 49px;
                        width: 335px; 
                        object-fit: contain; 
                        @include responsive(smartphone-portrait){
                            height: 30px;
                            width: 210px;
                        } 
                  }
                }
                .section-1{
                    @include flex(column,center,center);
                    gap: 30px;
                    width: 800px;
                    @include responsive(smartphone-portrait){
                        @include mobile-content-width
                    }
                    .section-heading{
                        font-size: 20px;
                        font-family: 'montserrat-bold';
                    }
                    .section-description{
                        font-size: 15px;
                        font-family: 'montserrat-regular';
                        line-height: 25px;
                    }
                }
                .horizontal-line{
                     height: 2px;
                     width: 140px;
                     background-color: $text-color;
                }
                .points{
                    @include flex(column,center,center);
                    width:800px;
                    @include responsive(smartphone-portrait){
                        @include mobile-content-width
                    }
                    .points-heading{
                        font-size: 20px;
                        font-family: 'montserrat-bold';
                    }
                    .points-section{
                        @include flex(column,center,center);
                        gap: 15px;
                        padding-top: 15px;
                       .point-indication{
                            height: 36px;
                            width: 36px;
                            border: solid 2px $text-color;
                           border-radius: 50%;
                           @include flex(row,center,center);
                           font-size: 15px;
                           font-family: 'montserrat-bold';
                       }
                       .point-text{
                         font-size: 15px;
                         font-family: 'montserrat-regular';
                         line-height: 25px;
                       }
                    }

                }
                .text{
                    font-size: 15px;
                    font-family: 'montserrat-bold';
                    @include mobile-content-width
                }
            }

        }
      .services-section3{
        @include flex(column,center,center);
        padding-top: 130px;
        width: 800px;
        gap: 70px;
        @include responsive(smartphone-portrait){
            padding-top: 60px;
            @include mobile-content-width;
            gap: 45px;
        }
        .heading{
            font-size: 20px;
            font-family: 'montserrat-bold';
           text-align: center;

        }
        .heading:nth-child(1) {
            line-height: 40px;
            @include responsive(smartphone-portrait){
                line-height: 30px;
            }
        }
        .description{
            font-size: 15px;
            font-family: 'montserrat-regular';
            text-align: center;
            @include responsive(smartphone-portrait){
                text-align: left;
            }
        }
        .horizontal-line{
            height: 2px;
            width: 140px;
            background-color: $text-color;
       }
      }
    }
}