@import '../../../styles/styles.scss';

@mixin color-code{
  width: 42px;
  height: 42px;
  border-radius: 50%;
 @include responsive (smartphone-portrait){
  width: 30px;
  height: 30px;
 } 
  &:hover{
    box-shadow: 0 0 3px black;
    border: 3px solid #FFF;
  } 
}
@mixin counter-operations{
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: $page-background-color 1px solid;
  @include flex(row,center,center)
}
.main-container{
  padding-top: 120px;
  min-height: calc(100vh - 120px);
  background-color: $page-background-color;
  color: $text-color;
  position: relative;
  .sub-menu-bar{
    z-index: 1;
    background-color: $brand-color;
    color: $secondary-color;
    height: 200px;
    width: 100%;  
    @include flex (row,center,end);
    gap: 80px;
    padding-bottom: 30px;   
    position: fixed;
    font-size: 15px;
    font-family: 'montserrat-bold';
    transition: all 1s ease;
    .menu-item{
        cursor: pointer;

    }
    @include responsive(smartphone-portrait){
      display: none;
    }
 
  }
  .scrolled-menu-height{
    height: 80px;
    @include flex (row,center,center);
    padding-bottom: 0px;
    @include responsive(smartphone-portrait){
      display: none
    }
  }

.breadcrumbs-section{
    @include flex(row,center,center);
    margin-top: 280px;
  @include responsive(smartphone-portrait){
    margin-top: 40px;
  }
    
    .breadcrumbs{
        @include flex(row,start,center);
        gap: 40px;
        @include content-width;
        font-size: 13px;
        font-family: 'montserrat-regular';
        @include responsive(smartphone-portrait){
          @include mobile-content-width;
        }
        .right{
          @include flex(row,start,center);
          .last{
            color: $brand-color
          }
        }

}
  }
  .bike-details-container{
    @include flex(row,center,center);
@include responsive(smartphone-portrait){
  width: 100%;
  padding-bottom: 35px;
}
    margin-top: 40px;
    padding-bottom: 140px;
    .bike-details{
        @include content-width;
        @include flex(row,center,center);
        @include responsive(smartphone-portrait){
          @include flex(column,center,center);
 gap: 50px;
        }
        gap: 140px;
        .photo-section{
            @include flex(column,start,start);
            gap: 15px;
            @include responsive(smartphone-portrait){
         gap: 10px;
         @include mobile-content-width;
         @include flex(column,center,center);
            }
            .main-image{
             height: 469px;
             width: 624px;
             background-color: $secondary-color;
             @include flex(row,center,center);
             @include responsive (smartphone-portrait){
              height: 242px;
              width: 100%;
             }
             img{
                height: 318px;
                width: 506px;
                object-fit: contain;
                @include responsive(smartphone-portrait){
                  height: 163px;
                  width: 261px;
                }
             }
            }
            .child-images{
    @include flex(row,start,start);
    cursor: pointer;
    width: 100%;
    gap: 15px;
    @include responsive(smartphone-portrait){
      @include mobile-content-width;
      gap: 10px;
    }
    img{
        height: 166px;
        width: 175px;
        object-fit: contain;
        background-color: $secondary-color;
        padding: 30px;
        @include responsive(smartphone-portrait){
          height: 105px;
          width: 113px;
          padding: 22px
        }
    }
            }
        }
        .details-section{
          @include flex(column,start,start);
          @include responsive(smartphone-portrait){
            @include mobile-content-width;
          }
          .brand-name{
           font-size: 20px;
           font-family: 'montserrat-bold';
       
          }
          .bike-name{
         font-size: 45px;
         font-family: 'montserrat-regular';
         padding-bottom: 25px;
          }
          .rim-spec{
         font-size: 15px;
         font-family: 'montserrat-regular';
         padding-bottom: 60px;
          }
          .price{
 font-size: 36px;
 font-family: 'montserrat-bold';
 padding-bottom: 25px;
          }
          .price-details{
  font-size: 13px;
  font-family: 'montserrat-regular';
  padding-bottom: 25px ;
          }
          .design{
            font-size: 15px;
            font-family: 'montserrat-regular';
            padding-bottom: 50px;
          }
          .color-spec{
            font-size: 15px;
            font-family: 'montserrat-regular';
            @include flex(row,center,center);
            gap: 95px;
            padding-bottom: 30px;
            .description-button{
              cursor: pointer;
            }
          }
          .color-codes{
            @include flex(row,center,center);
            gap: 30px;
            padding-bottom: 30px; 
            height: 80px;
            .color{
              @include flex(column,center,center);
              gap: 10px;
              font-size: 18px;
              font-family: 'montserrat-regular';
              cursor: pointer;
              &:hover{
                font-family: 'montserrat-bold';
              }
              .color1{
                @include color-code;
                background-color: $brand-color; 
                             }
                             .color2{
                         @include color-code;
                         background-color: #358A94;
                             }
                             .color3{
                 @include color-code;
                 background-color: $secondary-color; 
                             }
            }              ;

          }
          .quantity{
          background-color: $secondary-color;
          @include flex(row,space-between,center);
          padding: 0px 15px;
          width: calc(406px - 30px);
          height: 65px;
          font-size: 17px;
          @include responsive(smartphone-portrait){
            @include mobile-content-width;
            padding: 0px;
            p{
              margin: 0px 30px ;
            }
           
          }
          font-family: 'montserrat-regular';
          margin-bottom: 30px;
          .counter{
            @include responsive(smartphone-portrait){
              margin: 0px 30px ;
            }
            @include flex(row,center,center);
            gap: 10px;
            font-family: 'montserrat-bold';
            .operation{
              @include counter-operations;
              cursor: pointer;
              &:hover{
                border: black 1px solid;
              }
            }

          }
          }
          button{
            @include responsive(smartphone-portrait){
              @include responsive(smartphone-portrait){
                @include mobile-content-width;
              }
            }
            width: 406px;
            height: 47px;
            color: $secondary-color;
            font-size: 13px;
            font-family: 'montserrat-bold';
            background-color: $brand-color;
            cursor: pointer;
            border: none;
            transition: all .2s ease-in-out;
            &:hover{
              transform: scale(1.1)
            }
          }
        }
      }
  }
.bike-features{

  @include flex(row,center,center);
@include responsive(smartphone-portrait){
  padding-bottom: 95px;
}
  .bike-features-container{
    background-color: $secondary-color;
    @include responsive(smartphone-portrait){
      @include mobile-content-width;
padding: 20px 0px;

@include flex(column,start,start);
    }
  padding: 95px 0px;
    width: 100%;
    @include flex(column,center,center);
    .headline{
      font-size: 20px;
      font-family: 'montserrat-bold';
      padding-bottom: 55px;
   @include responsive(smartphone-portrait){
    padding-bottom: 20px;
    font-size: 15px;
    margin: 0px 20px;
   }
    }
    .bike-headline{
      font-size: 45px;
      font-family: 'montserrat-regular';
      @include responsive(smartphone-portrait){
        font-size: 30px;
        margin: 0px 20px;
       }
    }
    .gear{
      font-size: 15px;
      font-family: 'montserrat-regular';
      padding: 30px 0px 60px 0px;
      @include responsive(smartphone-portrait){
        padding: 20px 0px 20px 0px;
        margin: 0px 20px;
      }
    }
    .features{
      @include flex(column,start,start);
      height: 315px;
      width: 650px;
      gap: 30px;
      flex-wrap: wrap;
      @include responsive(smartphone-portrait){
        flex-wrap: nowrap;
        width: 100%;
        gap: 20px;
        height:auto;
        margin: 0px 20px;
      }
      .property{
        @include flex(row,center,center);
        gap: 5px;
        .key{
          font-size: 15px;
          font-family: 'montserrat-bold';
        }
        .value{
          font-size: 15px;
          font-family: 'montserrat-regular';
        }
      }
    }
  }


}
.widget{
  top:21.1%;
  right: 0;
  position: fixed;
  z-index: 0;

}
.blur{
  top:21.1%;
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  position: absolute;
}
}

