@font-face{
    font-family: 'montserrat-light';
    src: url('../assets/fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'montserrat-bold';
    src: url('../assets/fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'montserrat-black';
    src: url('../assets/fonts/Montserrat-Black.ttf');
}
