@import "../../styles/styles.scss";


.main-container{
    min-height: calc(100vh - 120px);
    padding-top: 100px;
    @include flex(column,center,center);
    .products{
        padding: 20px;
      @include content-width;
 
       .single{
        @include flex(row,space-between,center);
        gap: 60px;
        font-family: "montserrat-bold";
        .productImage{
            img{
                height: 100px;
                width: 100px;
                object-fit: contain;
            }
        }
        .name{
            width: 100px;
        }
    .quantity{
        width: 40px;
    }
    .price{
        width: 80px;
    }
    .total{
        width: 100px;
    }
        .delete{
            img{
                height: 25px;
                width: 25px;
                object-fit: contain;
                cursor: pointer;
            }

         }
         .decrement , .increment{
            border: 1px solid $footer-background;
            border-radius: 50%;
   height: 20px;
   width: 20px;
   @include flex(row,center,center);
   cursor: pointer;
         }
       }
    }
    .no-products{
        @include flex(column,center,center);
        gap: 40px;
        .text{
            font-size: 16px;
            font-family: 'montserrat-bold';
        }
        button{
            width: 406px;
            height: 47px;
            color: $secondary-color;
            font-size: 16px;
            font-family: 'montserrat-bold';
            background-color: $brand-color;
            cursor: pointer;
            border: none;
            transition: all .2s ease-in-out;
        }
    }
    .total-price{
            font-size: 16px;
            font-family: 'montserrat-bold';
            margin-top: 20px;
            @include flex(column,center,center);
            gap: 40px;
            button{
                width: 406px;
                height: 47px;
                color: $secondary-color;
                font-size: 16px;
                font-family: 'montserrat-bold';
                background-color: $brand-color;
                cursor: pointer;
                border: none;
                transition: all .2s ease-in-out;
            }
    }
}