@import "../../styles/styles.scss";
.main-container{
    min-height: calc(100vh - 120px);
    @include flex(column,center,center);
    form{
        padding: 250px 0px;
 @include flex(column,start,start);
 gap: 40px;
 input{
    height: 30px;
    width: 270px;
    padding: 10px;
    &::placeholder{
     font-size: 13px;
     font-family: 'montserrat-regular';
 }
 }
 button{
    background-color: $brand-color;
    border: none;
    height: 42px;
    width: 290px;
   font-size: 14px;
   font-family: 'montserrat-bold';
   color: $secondary-color;
   cursor: pointer;
 }
 label{
    font-size: 14px;
    font-family: 'montserrat-bold';
  }
  .success-message{
    font-size: 14px;
    font-family: 'montserrat-bold';
    color: $brand-color
  }
  .invalidcode{
    font-size: 14px;
    font-family: 'montserrat-bold';
    color: $brand-color;
    text-decoration: underline
  }

    }
    .update-password{
        @include flex(column,center,center);
        gap: 40px;
     padding-top: 40px;
    }
    .message{
      font-size: 14px;
      font-family: 'montserrat-bold';
      color: $brand-color
    }
}