<div class="main-container">
    <div class="link" *ngIf="!resetLinkActive">    
        <form (ngSubmit)="resetLink()" #resetLinkSection="ngForm">
            <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter your email Id" [(ngModel)]="email"/>
        <div class="message" *ngIf="errorMessage">{{errorMessage}}</div>
        <button type="submit">Send reset password link</button>
    </form>
</div>
<div class="update-password" *ngIf="resetLinkActive">
   
    <form (ngSubmit)="updatePassword()" #updateSection="ngForm">
        <div class="success-message" *ngIf="!invalidCode">{{successResetLink}}</div>
        <div class="invalidcode">{{invalidCode}}</div>
        <label for="email">Email</label>
        <input type="email" name="email" value={{email}} placeholder="Enter your email Id" [(ngModel)]="email"/>
        <label for="code">CODE</label>
        <input type="text" name="code" placeholder="Enter your code" [(ngModel)]="code"/>
        <label for="password">New Password</label>
        <input type="password" name="newpassword" placeholder="Enter your new password" [(ngModel)]="newPassword"/>
        <button type="submit">update password</button>
    </form>
    <div class="message">{{message}}</div>
  
</div>
</div>